{%extends 'base.html'%}
{%block container%}
<script>
    $(document).ready(function () {
        show_codes()
    });

    function review_code() {
        code = $('#mycode').val()
        $.ajax({
            type: 'POST',
            url: '/templates/code_review',
            data: {
                code_give: code,
            },
            success: function (response) {
                window.location.reload()
            }
        })
    }


    function show_codes() {
        $.ajax({
            type: "GET",
            url: "/36Team_ToyProject",
            data: {},
            success: function (response) {

                let rows = response['codes']
                for (let i = 0; rows.length; i++) {
                    let code = rows[i]['code']
                    let temp_html = `

<div class= code_block" >
    <pre>${code}</pre>
</div>
<!--댓글 작성하면 댓글들 GET 보여주기 -->
<div class="input-group mb-3" id="code_comment">
    <input type="text" class="form-control" placeholder="코드리뷰를 부탁드려요!" aria-label="Recipient's username"
           aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button">댓글작성</button>
</div>`

                    $(`#my_code`).append(temp_html)
                }
            }
        });
    }
</script>

<div class="container coderev mt-5">
    <div class="form-floating">
        <textarea class="form-control" id="mycode" placeholder="Leave a comment here"
                  style="height: 100px"></textarea>
        <label for="floatingTextarea2">코드 입력</label>
        <button onclick="review_code()" class="btn btn-dark mt-2">올리기</button>
    </div>
    <div id="posted_code" class="container">
            <code id="my_code">
            </code>
    </div>

    <div class="mt-3">
        <!--댓글달기-->

    </div>
</div>


{% endblock %}