{%extends 'base.html'%}
{%block container%}
<script>
    $(document).ready(function () {
        show_codes()
    });


    function review_code() {
        let code = $('#mycode').val()
        let quest = $('#myquest').val()
        $.ajax({
            type: 'POST',
            url: '/templates/code_review',
            data: {
                code_give: code,
                quest_give: quest
            },
            success: function (response) {
                window.location.reload()
            }
        })
    }


    function show_codes() {
        $.ajax({
            type: "GET",
            url: "/36Team_ToyProject",
            data: {},
            success: function (response) {

                let rows = response['codes']
                for (let i = 0; rows.length; i++) {
                    let quest = rows[i]['quest']
                    let code = rows[i]['code']
                    let temp_html_posted = `
                    <!--댓글 작성하면 댓글들 GET 보여주기 -->



<!-- 처음부터 보이려면, <details open> -->
<details>
  <summary>${quest}</summary>
  <pre><p><code>${code}</code></p></pre>
</details>
                    `

                    $(`#my_code`).append(temp_html_posted)


                }
            }
        });
    }


</script>

<div class="container coderev mt-5">
    <div class="form-floating">
            <textarea class="form-control" id="mycode" placeholder="Leave a comment here"
                      style="height: 100px"></textarea>
        <label for="floatingTextarea2">코드 입력</label>
    </div>
    <div class="form-floating">
            <textarea class="form-control" id="myquest" placeholder="Leave a comment here"
                      style="height: 100px"></textarea>
        <label for="floatingTextarea2">질문 입력</label>
    </div>
    <button onclick="review_code()" class="btn btn-dark mt-2">올리기</button>
</div>
<div id="posted_code" class="container">

    <div id="quest_comment">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">코드질문</th>
            </tr>
            </thead>
            <tbody id="my_code">


            </tr>
            </tbody>
        </table>

    </div>
</div>


{% endblock %}
