{%extends 'base.html'%}
{%block container%}

<div class="container coderev mt-5">
    <div class="form-floating">
            <textarea class="form-control" id="mycode" placeholder="Leave a comment here"
                      style="height: 100px"></textarea>
        <label for="floatingTextarea2">코드 입력</label>
    </div>
    <div class="form-floating">
            <textarea class="form-control" id="myquest" placeholder="Leave a comment here"
                      style="height: 100px"></textarea>
        <label for="floatingTextarea2">질문 입력</label>
    </div>
    <button onclick="review_code()" class="btn btn-dark mt-2">올리기</button>
</div>
<div id="posted_code" class="container">

    <div id="quest_comment">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">코드질문</th>
            </tr>
            </thead>
            <tbody id="my_code">
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="input-group mb-3">
            <input id="codeCom" type="text" class="form-control" placeholder="댓글을 달아주세요." aria-label="댓글을 달아주세요."
                   aria-describedby="button-addon2">
            <button onclick="code_com()" class="btn btn-outline-secondary" type="button" id="button-addon2">작성</button>
        </div>
        <div id="testcom_get">
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        show_codes()
        code_get()
        // show_codes.onload = function () {
        //  code_get()
        // }
    });

    // 코드 get 보여주기
    function code_get() {

        $.ajax({
            type: "GET",
            url: '/code_review/show_code',
            data: {},
            success: function (response) {
                console.log(response)
                let rows = response['com_code']
                let comment_arr = []
                for (let i = 0; i < rows.length; i++) {
                    let posted_code = rows[i]['com_code']
                    console.log(posted_code)
                    let code_posted_html = `<div id="show_codes"><span>>> ${posted_code}</span></div> <br><hr>`

                    comment_arr.push(code_posted_html)
                }
                $(`#testcom_get`).append(comment_arr)
            }
        })
    }


    function show_codes() {
        $.ajax({
                type: "GET",
                url: '/templates/code_review',
                data: {},
                success: function (response) {

                    let rows = response['codes']
                    for (let i = 0; i < rows.length; i++) {
                        let quest = rows[i]['quest']
                        let code = rows[i]['code']


                        let temp_html_posted = `
                    <!--댓글 작성하면 댓글들 GET 보여주기 -->
                            <details>
                                <summary>${quest}</summary>
                                <pre><p><code>${code}</code></p></pre>
                            </details>

                            <hr>

                            `
                        let code_html = `
                            <div id="show_codes">

                            </div>
                            `

                        $(`#my_code`).append(temp_html_posted)
                    }
                }

            }
        )
        ;
    }


    // 댓글 포스트 전송
    function code_com() {
        let code_val = $('#codeCom').val()
        $.ajax({
            type: 'POST',
            url: '/code_review/code_post',
            data: {
                code_com_give: code_val
            },
            success: function (response) {
                window.location.reload()
            }
        })
    }


    function review_code() {
        let code = $('#mycode').val()
        let quest = $('#myquest').val()

        $.ajax({
            type: 'POST',
            url: '/templates/code_review',
            data: {
                code_give: code,
                quest_give: quest,

            },
            success: function (response) {
                window.location.reload()
            }
        })
    }


</script>

{%endblock%}