{%extends 'base.html'%}
{%block container%}

    <script>
        function save_comment() {
            let comment = $('#comment').val()

            $.ajax({
                type: "POST",
                url: "/templates/free_board",
                data: {
                    comment_give:comment
                },
                success: function (response) {
                    console.log(response)
                }
            })
        }
    </script>
</head>

<body>
    <div class="mypost">
        <div class="form-floating">
            <textarea id="comment" class="form-control" placeholder="Leave a comment here"
                      style="height: 100px"></textarea>
            <label for="floatingTextarea2">글 남기기</label>
        </div>
        <button onclick="save_comment()" class="btn btn-dark">확인</button>
    </div>
    <div class="mycards">
        <div class="card">
            <div class="card-body">
                <p class="card-text">안녕하세요</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p class="card-text">반갑습니다</p>
            </div>
        </div>
    </div>

</body>

</html>

{%endblock%}